<div layout="row" layout-align="center start">
  <h3>Mis noticias</h3>
</div>

  <mat-card style="width: 500px;" *ngFor="let noticia of totalNoticias">
    <mat-card-title>
      <mat-card-title>
        <span>{{ noticia.titular }}</span>
      </mat-card-title>
    </mat-card-title>
    <img mat-card-image src= "{{ noticia.imagen }}">
    <mat-card-content>
      <p>{{ noticia.entrada }}</p>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="start center">
      <button mat-button (click)="verNoticia(noticia.id)">Ver</button>
      <button mat-button (click)="eliminarNoticia(noticia.id)">Eliminar</button>
      <button mat-button (click)="edicionNoticia(noticia)">Modificar</button>
    </mat-card-actions>
  </mat-card>


 <div class="fixed-action-btn">
		<a class="btn-floating btn-large blue" (click)="nuevaNoticia()">
			<i class="large material-icons">add</i>
		</a>
 </div>


