<h1 mat-dialog-title style="text-align: center;">Nueva noticia</h1>

<div mat-dialog-content>

  <p>Titular</p>

  <input required matInput tabindex="1" [(ngModel)]="nuevaNoticia.titular">


  <p>Entrada</p>
  <mat-form-field class="example-full-width">
    <textarea matInput tabindex="1" placeholder="Ingresar entrada de la noticia" [(ngModel)]="nuevaNoticia.entrada"></textarea>
  </mat-form-field>

  <p>Cuerpo</p>
  
  <mat-form-field class="example-full-width">
    <textarea matInput tabindex="1" placeholder="Ingresar cuerpo de la noticia" [(ngModel)]="nuevaNoticia.cuerpo"></textarea>
  </mat-form-field>

  <p>Imagen</p>

  <input matInput tabindex="1" [(ngModel)]="nuevaNoticia.imagen">

   <p>Categoría</p>
   <mat-form-field>
	  <mat-select placeholder="Elegir categoría" [(ngModel)]="nuevaNoticia.categoria_id">
	    <mat-option *ngFor="let categoria of categorias" [(value)]="categoria.id">
	      {{ categoria.descripcion }}
	    </mat-option>
	  </mat-select>
	</mat-form-field>


  
</div>


<div mat-dialog-actions>
  <button mat-button class="boton-aceptar" (click)="agregarNoticia()" tabindex="2">Agregar noticia</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
</div>
